$light-grey: #f2f2f2;
$white: #fff;
$white-hover: #E5E5E5;
$grey: #c4c4c4;
$blue: #1E88E5;
$green: #2ECC40;
$red: #FF4136;
$dark-grey: #3A3535;
$graphite: #232020;
$black: #000;
$shadow: rgba(0, 0, 0, .25);